ion-grid {
  --ion-grid-width: 100%;
  --ion-grid-padding: 0px;
  /* --ion-grid-column-padding: 30px; */

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

ion-row {
  height: calc(100% / 8);
}

.text-area {
  text-align: right;
  align-items: flex-end;
  font-size: 1.5rem;
  color: #fff;
}

.current {
  border-top: solid 1px #fff;
  height: calc(100% / 8 * 2);
  word-wrap: break-word;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.button-col {
  background-color: #135d54;
  border: solid 1px #fff;
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2.5rem;
}
